@font-face {
    font-family: Futura;
    src: local('Futura Medium') 
      url(fonts/Futura.otf)
      format('opentype');
}

html, body {
  font-family: 'Futura', serif;
  height: 100vh;
  overflow: hidden;
}


.align-bottom {
    bottom: -.70em;
    left: 1.25em;
}

.logo {
  position: fixed;
  display: block;
  width: 100vw;
  font-size: 35px;
  transform: translate(0px, 0em) rotate(-90deg);
  transform-origin: 0 0 0;
  -webkit-transform: translate(0px, 0em) rotate(-90deg);
  -webkit-transform-origin: 0 0 0;
}

a {
  color: #000000;
  text-decoration: none;
}

.nav-top {
  width: 100%;
  padding-top: 32px;
  position: absolute;
  top: 0;
  font-size: 14px;
}

.nav-top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 655px;
}

.nav-top ul li {
  display: inline-table;
  padding-right: 3%;
}

.nav-top ul li a {
  text-decoration: none;
  display: inline-block;
  color: black;
  z-index: 10;
}

.info {
  line-height: 2;
}

#contact {
  font-size: 12px;
  line-height: 1;
}

.slider {
  margin: 0 auto;
  width: 1000px;
  margin-top: 75px;
  margin-bottom: 50px;
}
.slick-slide {
outline: none !important;
}


#img0 {
  background-image: url("../assets/images/editorial/white.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  height: 85vh;
  width: 500px;
}



#img1 {
  background-image: url("../assets/images/editorial/newwebsite_001.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  height: 85vh;
  width: 500px;
}

#img2 {
  background-image: url("../assets/images/editorial/newwebsite_002.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  height: 85vh;
  width: 500px;
}


#img3 {
  background-image: url("../assets/images/editorial/newwebsite_003.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  height: 85vh;
  width: 500px;
}


#img4 {
  background-image: url("../assets/images/editorial/white.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 85px 0px;
  height: 85vh;
  width: 566px;
}

.slick-slide {
   transition: opacity .5ms ease;
}
.slick-slide.opacidown {
  opacity: 0;
}

div.slick-current {
   opacity: 1;
   transition: opacity .5ms ease;
}

div.slick-active{
   opacity: 1;
   transition: opacity .5ms ease;
}

iframe {
  width: 1000px;
  height: 563px;
  margin: 0 auto;
  display: block;

}