@font-face {
    font-family: Futura;
    src: local('Futura Medium') 
      url(fonts/Futura.otf)
      format('opentype');
}

html, body {
  font-family: 'Futura', serif;
  height: 100vh;
  overflow: hidden;
}


.align-bottom {
    bottom: -.65em;
    left: 1em;
}

.logo {
  position: fixed;
  display: block;
  width: 100vw;
  font-size: 35px;
  transform: translate(0px, 0em) rotate(-90deg);
  transform-origin: 0 0 0;
  -webkit-transform: translate(0px, 0em) rotate(-90deg);
  -webkit-transform-origin: 0 0 0;
}

.align-bottom-video {
    bottom: 24px;
    left: 1em;
}

.logo-video {
  position: fixed;
  display: block;
  width: 100vw;
  font-size: 35px;
  transform: translate(0px, 0em) rotate(-90deg);
  transform-origin: 0 0 0;
  -webkit-transform: translate(0px, 0em) rotate(-90deg);
  -webkit-transform-origin: 0 0 0;
}

a {
  color: #000000;
  text-decoration: none;
}

.nav-top {
  width: 100%;
  padding-top: 32px;
  position: absolute;
  top: 0;
  font-size: 14px;
}

.nav-top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 47.5%;
}

.nav-top ul li {
  display: inline-table;
  padding-right: 3%;
}

.nav-top ul li a {
  text-decoration: none;
  display: inline-block;
  color: black;
  z-index: 10;
}

.info {
  line-height: 2;
}

#contact {
  font-size: 12px;
  line-height: 1;
}

.slider {
  margin: 0 auto;
  width: 1000px;
  margin-top: 75px;
  margin-bottom: 50px;
}
.slick-slide {
outline: none !important;
}


#img0 {
  background-image: url("../assets/images/editorial/white.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  height: 85vh;
  width: 500px;
}



#img1 {
  background-image: url("../assets/images/editorial/newwebsite_001.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  height: 85vh;
  width: 500px;
}

#img2 {
  background-image: url("../assets/images/editorial/newwebsite_002.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  height: 85vh;
  width: 500px;
}


#img3 {
  background-image: url("../assets/images/editorial/newwebsite_003.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  height: 85vh;
  width: 500px;
}


#img4 {
  background-image: url("../assets/images/editorial/white.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 85px 0px;
  height: 85vh;
  width: 566px;
}

.arrow {
  display: none;
}

.slick-slide {
   transition: opacity .5ms ease;
}
.slick-slide.opacidown {
  opacity: 0;
}

div.slick-current {
   opacity: 1;
   transition: opacity .5ms ease;
}

div.slick-active{
   opacity: 1;
   transition: opacity .5ms ease;
}

iframe {
  width: 1000px;
  height: 563px;
  margin: 0 auto;
  display: block;
}



/* ----------------------- media queries ---------------------- */
@media only screen and (min-height: 750px) { 
  .align-bottom-video {
    bottom: 1.75em;
  } 
}

@media only screen and (min-height: 780px) { 
  .nav-top ul {
    padding-left: 48.3%;
  }  
    .align-bottom-video {
    bottom: 2.6em;
  } 

  .slider {
  width: 1019px;
  }

  #img1 {
    border-left: 20px solid white;
  }

  #img3 {
   border-left: 20px solid white;
  }

}


@media only screen and (min-height: 800px) { 
.align-bottom {
    bottom: 0em;
}

  .align-bottom-video {
    bottom: 3.25em;
  }
}

@media only screen and (min-height: 850px) { 
.align-bottom {
    bottom: 0.75em;
}
 .align-bottom-video {
    bottom: 4.5em;
  }
}

@media only screen and (min-height: 900px) { 
.align-bottom {
    bottom: 1.5em;
}
.align-bottom-video {
    bottom: 5.75em;
  }
}

@media only screen and (min-height: 950px) { 
.align-bottom {
    bottom: 2.25em;
}
.align-bottom-video {
    bottom: 7em;
  }
}

@media only screen and (min-height: 1000px) { 
.align-bottom {
    bottom: 3em;
}
.align-bottom-video {
    bottom: 8.25em;
  }
}

@media only screen and (min-height: 1050px) { 
.align-bottom {
    bottom: 3.75em;
}
.align-bottom-video {
    bottom: 9.5em;
  }
}

@media only screen and (min-height: 1100px) { 
.align-bottom {
    bottom: 4.5em;
}
.align-bottom-video {
    bottom: 10.75em;
  }
}

@media only screen and (min-height: 1150px) { 
.align-bottom {
    bottom: 5.25em;
}
.align-bottom-video {
    bottom: 12em;
  }
}

@media only screen and (min-height: 1200px) { 
.align-bottom {
    bottom: 6em;
}
.align-bottom-video {
    bottom: 13.25em;
  }
}

@media only screen and (min-height: 1250px) { 
.align-bottom {
    bottom: 6.75em;
}
.align-bottom-video {
    bottom: 14.5em;
  }
}

@media only screen and (min-height: 1300px) { 
.align-bottom {
    bottom: 7.5em;
}
.align-bottom-video {
    bottom: 15.75em;
  }
}

@media only screen and (min-height: 1350) { 
.align-bottom {
    bottom: 8.25em;
}
.align-bottom-video {
    bottom: 17em;
  }
}

@media only screen and (min-height: 1400px) { 
.align-bottom {
    bottom: 9em;
}
}
